<h2>Sign Up</h2>

<%= form_for @user do |f| %>
    <div class="sign-up-form">
        <%= f.label :username %>:
        <%= f.text_field :username %><br>

        <%= f.label :email %>:
        <%= f.text_field :email %><br>

        <%= f.label :username %>:
        <%= f.password_field :password %><br>
    </div>
<% end %>